<!-- <div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h2 class="text-center">Login</h2>
                </div>
                <div class="card-body">
                    <form  >
                        <div class="mb-3">
                            <label for="username" class="form-label">Username</label>
                            <input type="text" class="form-control" id="username" name="username" required>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control" id="password" name="password" required>
                        </div>
                        <!-- <div class="mb-3 form-check">
                            <input type="checkbox" class="form-check-input" id="rememberMe" name="rememberMe">
                            <label class="form-check-label" for="rememberMe">Remember Me</label>
                        </div> -->
                        <!-- <div class="text-center">
                            <button (click)="loginWithEmailAndPassword()" type="submit" class="btn btn-primary btn-md btn-block custom-width waves-effect text-center m-b-20 mt-5">Login</button>
                        </div>
                    </form>
                </div>

                <div class="or-container"><div class="line-separator"></div> <div class="or-label">or</div><div class="line-separator"></div></div>


                <div class="text-center">
                    <a href="#" class="btn btn-lg btn-google btn-block text-uppercase btn-outline mb-5 custom-google-width" (click)="loginWthGoogle()">
                        <img src="https://img.icons8.com/color/16/000000/google-logo.png"> Login Using Google
                    </a>
                </div>
            </div>
         
        </div>
    </div>
</div> --> 



<div class="displayTable">
    <div class="displayTableCell">
      <div class="authBlock">
        <h3>Sign In</h3>
        <div class="formGroup">
          <input
            type="text"
            class="formControl"
            placeholder="Username"
            #userName
            required
          />
        </div>
        <div class="formGroup">
          <input
            type="password"
            class="formControl"
            placeholder="Password"
            #userPassword
            required
          />
        </div>
        <!-- Calling SignIn Api from AuthService -->
        <div class="formGroup">
          <input
            type="button"
            class="btn btnPrimary"
            value="Log in"
            (click)="authService.SignIn(userName.value, userPassword.value)"
          />
        </div>
        <div class="formGroup">
          <span class="or"><span class="orInner">Or</span></span>
        </div>
        <div class="forgotPassword">
          <span routerLink="/forgot-password">Forgot Password?</span>
        </div>
      </div>
      <div class="redirectToLogin">
        <span
          >Don't have an account?<span
            class="redirect"
            routerLink="/register-user"
          >
            Sign Up</span
          ></span
        >
      </div>
    </div>
  </div>
